<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endingback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,152},{452,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,62}}</string>
                <key>sourceSize</key>
                <string>{452,62}</string>
            </dict>
            <key>main_floor_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,100},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>main_floor_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,56},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>main_floor_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,294},{76,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,49}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>main_floor_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,372},{76,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,39}}</string>
                <key>sourceSize</key>
                <string>{76,39}</string>
            </dict>
            <key>main_floor_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{172,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,52}}</string>
                <key>sourceSize</key>
                <string>{172,52}</string>
            </dict>
            <key>main_floor_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{172,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,42}</string>
            </dict>
            <key>player0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,235},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,176},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,450},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>taptostart.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,56},{456,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,96}}</string>
                <key>sourceSize</key>
                <string>{456,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameobject.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db159cbcc4d7ebfee85239952b4c07d6:757a2d8f3736e7d67553833bbebf9789:167cc5b7d70a5b1e3a789f6a967bdc88$</string>
            <key>textureFileName</key>
            <string>gameobject.png</string>
        </dict>
    </dict>
</plist>
